@{
    var infos = ViewBag.PersonalInfo as PersonalInfoGetSetDTO;
}

<div class="header-navbar-shadow"></div>
<nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu d-xl-none mr-auto">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#!.">
                                <i class="ficon bx bx-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#!." data-toggle="dropdown">
                            <div class="user-nav d-sm-flex d-none">
                                @if (infos != null) {
                                    <span class="user-name">@infos.FullName</span>
                                }else{
                                    <span class="user-name">نام کاربری</span>
                                }
                            </div>
                            <span>
                                @if (infos != null){
                                    <img class="round" src="@(PathExtension.UploadPath + infos.AvatarImage)" alt="@infos.FullName" height="40" width="40">
                                }else{
                                    <img class="round" src="@(PathExtension.UploadPath)/img/SiteLogo.png" alt="Site Logo" height="40" width="40">
                                }
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pb-0">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Settings" asp-area="Admin"><i class="bx bx-user mr-50"></i> ویرایش پروفایل </a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Email" asp-area="Admin"><i class="bx bx-envelope mr-50"></i> صندوق ارتباط </a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" asp-action="LogOut" asp-controller="Account"><i class="bx bx-power-off mr-50"></i> خروج </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    @if ( infos != null) {
                        <div class="brand-logo">
                            <img class="logo" src="@(PathExtension.UploadPath + infos.AvatarImage)" alt="@infos.FullName" />
                        </div>
                        <h2 class="brand-text mb-0">@infos.FullName</h2>
                    }else{
                        <div class="brand-logo">
                            <img class="logo" src="@(PathExtension.UploadPath)/img/SiteLogo.png" alt="Site Logo" />
                        </div>
                        <h2 class="brand-text mb-0">نام و نام خانوادگی</h2>
                    }
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
                    <i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li id="home-index" class="nav-item">
                <a asp-action="Index" asp-controller="Home" asp-area="Admin">
                    <i class="menu-livicon" data-icon="desktop"></i>
                    <span class="menu-title text-truncate">پیشخوان</span>
                </a>

            </li>
            <li class="navigation-header text-truncate">
                <span>مدیریت</span>
            </li>
            <li id="post" class="nav-item">
                <a asp-action="Index" asp-controller="Post" asp-area="Admin">
                    <i class="menu-livicon" data-icon="notebook"></i>
                    <span class="menu-title text-truncate">نوشته ها</span>
                </a>
                <ul class="menu-content">
                    <li id="post-add">
                        <a class="d-flex align-items-center" asp-action="Add" asp-controller="Post" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">افزودن نوشته</span>
                        </a>
                    </li>
                    <li id="post-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="Post" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">لیست نوشته ها</span>
                        </a>
                    </li>
                    <li id="portfolio-add">
                        <a class="d-flex align-items-center" asp-action="Add" asp-controller="Portfolio" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">افزودن نمومه کار</span>
                        </a>
                    </li>
                    <li id="portfolio-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="Portfolio" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">لیست نمومه کار ها</span>
                        </a>
                    </li>
                    <li id="category-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="Category" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">دسته بندی ها</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li id="resume" class=" nav-item">
                <a href="#!.">
                    <i class="menu-livicon" data-icon="trophy"></i>
                    <span class="menu-title text-truncate">رزومه</span>
                </a>
                <ul class="menu-content">
                    <li id="history-index" class="">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="History" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">تاریخچه</span>
                        </a>
                    </li>
                    <li id="skill-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="Skill" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">مهارت</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="service" class=" nav-item">
                <a asp-action="Index" asp-controller="MyService" asp-area="Admin">
                    <i class="menu-livicon" data-icon="morph-table-lamp"></i>
                    <span class="menu-title text-truncate">خدمات</span>
                </a>
                <ul class="menu-content">
                    <li id="servicecounter-index" class="">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="ServiceCounter" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">شمارنده</span>
                        </a>
                    </li>
                    <li id="myservice-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="MyService" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">لیست خدمات</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="email-index" class=" nav-item">
                <a asp-action="Index" asp-controller="Email" asp-area="Admin">
                    <i class="menu-livicon" data-icon="envelope-put"></i>
                    <span class="menu-title text-truncate">ارتباط با من</span>
                </a>
            </li>
            <li id="settings-index" class=" nav-item">
                <a href="#">
                    <i class="menu-livicon" data-icon="gears"></i>
                    <span class="menu-title text-truncate">تنظیمات</span>
                </a>
                <ul class="menu-content">
                    <li id="myservice-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="GeneralSetting" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">تنظیمات عمومی</span>
                        </a>
                    </li>
                    <li id="myservice-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="PersonalInfoSetting" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">تنظیمات پروفایل</span>
                        </a>
                    </li>
                    <li id="myservice-index">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="SeoSetting" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">تنظیمات سئو</span>
                        </a>
                    </li>
                    <li id="servicecounter-index" class="">
                        <a class="d-flex align-items-center" asp-action="Index" asp-controller="SocialMedia" asp-area="Admin">
                            <i class="bx bx-right-arrow-alt"></i>
                            <span class="menu-item text-truncate">شبکه های اجتماعی</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>