@model ContactUsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>در ارتباط <span>با من </span></h1>
    <span class="title-bg">تماس با من </span>
</section>
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">خجالت نکشید!</h3>
                <p class="open-sans-font mb-3">در صورت تمایل با من در تماس باشید. من همیشه در مورد بحث درباره پروژه های جدید ، ایده های خلاقانه یا فرصت هایی که بخشی از دیدگاه های شما باشد ، آماده هستم.</p>
                @if (Model.PersonalInfos.Any())
                {
                    @foreach (var item in Model.PersonalInfos)
                    {
                        <p class="open-sans-font custom-span-contact position-relative">
                            <i class="fa fa-envelope-open position-absolute"></i>
                            <span class="d-block">ایمیل من</span>@item.Email
                        </p>
                        <p class="open-sans-font custom-span-contact position-relative">
                            <i class="fa fa-phone-square position-absolute"></i>
                            <span class="d-block">تلفن من</span>@item.Mobile
                        </p>
                    }
                }
                @if (Model.SocialMedia.SocialMediae != null && Model.SocialMedia.SocialMediae.Any())
                {
                    <ul class="social list-unstyled pt-1 mb-5">
                        @foreach (var social in Model.SocialMedia.SocialMediae)
                        {
                            <li class="">
                                <a title="@social.MediaName.ToLower()" href="@social.MediaLink"><i class="@social.MediaIcon"></i></a>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="col-12 col-lg-8">
                <form class="contactform" method="post" asp-action="SendMail" asp-controller="ContactUs">
                    @Html.AntiForgeryToken()
                    <div class="contactform">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <input type="text" name="name" placeholder="نام شما ">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="tel" placeholder="تلفن شما ">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="email" name="email" placeholder="ایمیل شما ">
                            </div>
                            <div class="col-12">
                                <input type="text" name="subject" placeholder="موضوع شما ">
                            </div>
                            <div class="col-12">
                                <textarea name="message" placeholder="پیغام شما"></textarea>
                                <recaptcha language="fa-IR" />
                                <button type="submit" class="button">
                                    <span class="button-text">ارسال پیام</span>
                                    <span class="button-icon fa fa-send"></span>
                                </button>
                            </div>
                            <div class="col-12 form-message">
                                <span class="output_message text-center font-weight-600 text-uppercase"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function() {
            $('.contactform').submit(function(e) {
                e.preventDefault();
                $(".output_message").text("در حال ارسال...");

                var form = $(this);

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: form.serialize(),

                }).done(function(result) {
                    if (result.status === "success") {
                        $(".output_message").text(result.data);
                        $(".contactform").find(".output_message").addClass("success");

                    } else {
                        $(".output_message").text(result.data);
                        $(".contactform").find(".output_message").addClass("error");
                        console.log(result.msg);
                    }
                });
            });
        });
    </script>
}