@{
    ViewData["Title"] = "تنظیمات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var settings = ViewBag.Settings as Setting;
    var personalInfo = ViewBag.PersonalInfos as PersonalInfo;
    var seoInfo = ViewBag.Seo as Seo;
}

<section id="page-account-settings">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- left menu section -->
                <div class="col-md-2 mb-2 mb-md-0 pills-stacked">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true" role="tab">
                                <i class="bx bx-cog"></i>
                                <span class="ml-1">عمومی</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-theme" data-toggle="pill" href="#account-vertical-theme" aria-expanded="false" role="tab">
                                <i class="bx bx-layer"></i>
                                <span class="ml-1">ظاهر</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-seo" data-toggle="pill" href="#account-vertical-seo" aria-expanded="false" role="tab">
                                <i class="bx bxl-google"></i>
                                <span class="ml-1">سئو و گوگل آنالایتیکس</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-menus" data-toggle="pill" href="#account-vertical-menus" aria-expanded="false" role="tab">
                                <i class="bx bx-menu"></i>
                                <span class="ml-1">منو ها</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-personal-info" data-toggle="pill" href="#account-vertical-personal-info" aria-expanded="true" role="tab">
                                <i class="bx bx-user"></i>
                                <span class="ml-1">اطلاعات شخصی</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-about-me" data-toggle="pill" href="#account-vertical-about-me" aria-expanded="false" role="tab">
                                <i class="bx bxs-user-detail"></i>
                                <span class="ml-1">در مورد من</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-photos" data-toggle="pill" href="#account-vertical-photos" aria-expanded="false" role="tab">
                                <i class="bx bxs-user-rectangle"></i>
                                <span class="ml-1">تصاویر و رزومه</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="account-pill-social-network" data-toggle="pill" href="#account-vertical-social-network" aria-expanded="false" role="tab">
                                <i class="bx bx-world"></i>
                                <span class="ml-1">شبکه های اجتماعی</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- right content section -->
                <div class="col-md-9">
                    <form asp-action="UpdateSettings" asp-controller="Settings" asp-area="Admin" method="post" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                        <h6>لوگو سایت</h6>
                                        <div class="media">
                                            <a href="#">
                                                <img src="@(settings.SiteLogo)" class="rounded mr-75" alt="profile image" height="64" width="64">
                                            </a>
                                            <div class="media-body mt-25">
                                                <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                    <label for="logo" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                        <span>بارگذاری تصویر</span>
                                                        <input id="logo" name="logo" type="file" hidden>
                                                    </label>
                                                </div>
                                                <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                                    <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                                    <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@settings.SiteLogo</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h6>فاو آیکون</h6>
                                        <div class="media">
                                            <a href="#">
                                                <img src="@(settings.SiteFavIcon)" class="rounded mr-75" alt="profile image" height="64" width="64">
                                            </a>
                                            <div class="media-body mt-25">
                                                <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                    <label for="fav" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                        <span>بارگذاری تصویر</span>
                                                        <input id="fav" name="fav" type="file" hidden>
                                                    </label>
                                                </div>
                                                <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                                    <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                                    <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@settings.SiteFavIcon</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label for="@settings.SiteTitle"></label>
                                                        <input type="text" class="form-control" asp-for="SiteTitle">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="SiteUrl"></label>
                                                        <input type="text" class="form-control" dir="ltr" placeholder="https://..." asp-for="SiteUrl">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-vertical-theme" role="tabpanel" aria-labelledby="account-pill-info" aria-expanded="false">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="SiteMode"></label>
                                                    <select class="form-control" asp-for="SiteMode" asp-items="@Html.GetEnumSelectList(SiteMode).ToList()"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade " id="account-vertical-seo" role="tabpanel" aria-labelledby="account-pill-social" aria-expanded="false">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="MetaDescription"></label>
                                                    <input type="text" class="form-control" asp-for="MetaDescription">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="MetaTags"></label>
                                                    <input type="text" class="form-control" asp-for="MetaTags">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="GoogleAnalytics"></label>
                                                    <textarea class="form-control" asp-for="GoogleAnalytics" rows="3" dir="ltr"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-vertical-menus" role="tabpanel" aria-labelledby="account-pill-notifications" aria-expanded="false">
                                        <div class="row">
                                            <h6>منوها را در این قسمت فعال یا غیر فعال کنید.</h6>
                                            <div class="col-12 mb-1">
                                                <div class="custom-control custom-switch custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input" asp-for="MainMenu">
                                                    <label class="custom-control-label mr-1" for="MainMenu"></label>
                                                    <span class="switch-label w-100 ml-2">خانه</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <div class="custom-control custom-switch custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input" asp-for="AboutMeMenu">
                                                    <label class="custom-control-label mr-1" for="AboutMeMenu"></label>
                                                    <span class="switch-label w-100 ml-2">درباره من</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <div class="custom-control custom-switch custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input" asp-for="PortfolioMenu">
                                                    <label class="custom-control-label mr-1" for="PortfolioMenu"></label>
                                                    <span class="switch-label w-100 ml-2">نمونه کار</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <div class="custom-control custom-switch custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input" asp-for="BlogMenu">
                                                    <label class="custom-control-label mr-1" for="BlogMenu"></label>
                                                    <span class="switch-label w-100 ml-2">بلاگ</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-1">
                                                <div class="custom-control custom-switch custom-control-inline">
                                                    <input type="checkbox" class="custom-control-input" asp-for="ContactMeMenu">
                                                    <label class="custom-control-label mr-1" for="ContactMeMenu"></label>
                                                    <span class="switch-label w-100 ml-2">تماس با من</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" role="tabpanel" id="account-vertical-personal-info" aria-labelledby="account-vertical-personal-info" aria-expanded="true">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="FullName"></label>
                                                        <input type="text" class="form-control" asp-for="FullName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="PhoneNumber"></label>
                                                        <input type="tel" class="form-control" asp-for="PhoneNumber">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Mobile"></label>
                                                        <input type="tel" class="form-control" asp-for="Mobile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Email"></label>
                                                        <input type="email" class="form-control" asp-for="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Birthday"></label>
                                                        <input type="text" class="form-control" asp-for="Birthday">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Age"></label>
                                                        <input type="text" class="form-control" asp-for="Age">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Language"></label>
                                                        <input type="text" class="form-control" asp-for="Language">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Nationality"></label>
                                                        <input type="text" class="form-control" asp-for="Nationality">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="controls">
                                                        <label asp-for="Address"></label>
                                                        <input type="text" class="form-control" asp-for="Address">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-vertical-about-me" role="tabpanel" aria-labelledby="account-vertical-about-me" aria-expanded="false">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AboutMe"></label>
                                                    <textarea class="form-control" asp-for="AboutMe" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Slogans"></label>
                                                    <input class="form-control" asp-for="Slogans" type="text">
                                                    <span class="text-muted">با کاما از هم جدا کنید.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade " id="account-vertical-photos" role="tabpanel" aria-labelledby="account-vertical-photos" aria-expanded="false">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h6>تصویر من</h6>
                                                <div class="media">
                                                    <a href="#">
                                                        <img src="@(Model.ResumeImage)" class="rounded mr-75" alt="profile image" height="64" width="64">
                                                    </a>
                                                    <div class="media-body mt-25">
                                                        <div class="col-xl-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                            <label for="resumeImage" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                <span>بارگذاری تصویر</span>
                                                                <input id="resumeImage" name="resumeImage" type="file" hidden>
                                                            </label>
                                                        </div>
                                                        <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                                            <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                                            <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@Model.ResumeImage</span>
                                                            <div class="mt-1 d-flex justify-items-center align-items-center">
                                                                <i class="bx bx-info-circle text-danger font-weight-light mr-1 border border-danger rounded uploaded-file"></i>
                                                                <small class="text-danger">در اسلایدر اصلی قرار میگیرد</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                                <h6>تصویر آواتار</h6>
                                                <div class="media">
                                                    <a href="#">
                                                        <img src="@(Model.AvatarImage)" class="rounded mr-75" alt="profile image" height="64" width="64">
                                                    </a>
                                                    <div class="media-body mt-25">
                                                        <div class="col-xl-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                            <label for="avatarImage" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                <span>بارگذاری تصویر</span>
                                                                <input id="avatarImage" name="avatarImage" type="file" hidden>
                                                            </label>
                                                        </div>
                                                        <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                                            <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                                            <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@Model.AvatarImage</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="media">
                                                    <div class="media-body mt-25">
                                                        <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                                            <label for="resumeFile" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                                <span>بارگذاری فایل</span>
                                                                <input id="resumeFile" name="resumeFile" type="file" hidden>
                                                            </label>
                                                        </div>
                                                        <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                                            <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                                            <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@Model.ResumeFile</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-vertical-social-network" role="tabpanel" aria-labelledby="account-vertical-social-network" aria-expanded="false">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Telegram"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Telegram" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-telegram"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Instagram"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Instagram" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-instagram"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Twitter"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Twitter" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-twitter"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Facebook"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Facebook" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-facebook"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Linkedin"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Linkedin" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-linkedin"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="Youtube"></label>
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" asp-for="Youtube" class="form-control" dir="ltr" placeholder="لینک کامل">
                                                        <div class="form-control-position">
                                                            <i class="bx bxl-youtube"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">ذخیره تغییرات</button>
                                    <button type="reset" class="btn btn-light mb-1">لغو</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>