@model SiteSettingsViewModel
@{
    ViewData["Title"] = "تنظیمات";
}

<section id="page-account-settings">
<form asp-action="Index" asp-controller="Settings" asp-area="Admin" method="post" enctype="multipart/form-data">
@if (ViewBag.HasSettings == true)
{
    <input hidden="hidden" asp-for="PersonalInfo.PersonalInfoId"/>
    <input hidden="hidden" asp-for="Setting.SettingId"/>
    <input hidden="hidden" asp-for="Seo.SeoId"/>
}
@* <div asp-validation-summary="All"></div> *@

<div class="row">
<div class="col-12">
<div class="row">

<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header">عمومی</h4>
        </div>
        <div class="card-body">
            <h6>لوگو سایت</h6>
            <div class="media">
                <a href="#">
                    @if (Model.Setting != null)
                    {
                        <img src="@(PathExtension.UploadPath + Model.Setting.SiteLogo)" class="rounded mr-75" alt="profile image" height="64" width="64">
                    }
                </a>
                <div class="media-body mt-25">
                    <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                        <label for="logo" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                            <span>بارگذاری تصویر</span>
                            <input id="logo" name="logo" type="file" hidden>
                        </label>
                    </div>
                    <div class="text-muted ml-1 mt-50 d-flex flex-column">
                        <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                        <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@(Model.Setting != null ? Model.Setting.SiteLogo : "test")</span>
                    </div>
                </div>
            </div>
            <hr>
            <h6>فاو آیکون</h6>
            <div class="media">
                <a href="#">
                    @if (Model.Setting != null)
                    {
                        <img src="@(PathExtension.UploadPath + Model.Setting.SiteFavIcon)" class="rounded mr-75" alt="profile image" height="64" width="64">
                    }
                </a>
                <div class="media-body mt-25">
                    <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                        <label for="fav" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                            <span>بارگذاری تصویر</span>
                            <input id="fav" name="fav" type="file" hidden>
                        </label>
                    </div>
                    <div class="text-muted ml-1 mt-50 d-flex flex-column">
                        <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                        <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@(Model.Setting != null ? Model.Setting.SiteFavIcon : "test")</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="Setting.SiteTitle"></label>
                            <input type="text" class="form-control" asp-for="Setting.SiteTitle">
                            <span asp-validation-for="Setting.SiteTitle"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="Setting.SiteUrl"></label>
                            <input type="text" class="form-control" dir="ltr" placeholder="https://..." asp-for="Setting.SiteUrl">
                            <span asp-validation-for="Setting.SiteUrl"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Setting.SiteMode"></label>
                        <select class="form-control" asp-for="Setting.SiteMode" asp-items="@Html.GetEnumSelectList<SiteMode>()"></select>
                        <span asp-validation-for="Setting.SiteMode"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header">تصویر پروفایل</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h6>تصویر من</h6>
                    <div class="media">
                        <a href="#">
                            @if (Model.PersonalInfo != null)
                            {
                                <img src="@(PathExtension.UploadPath + Model.PersonalInfo.ResumeImage)" class="rounded mr-75" alt="profile image" height="64" width="64">
                            }
                        </a>
                        <div class="media-body mt-25">
                            <div class="col-xl-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                <label for="resumeImage" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                    <span>بارگذاری تصویر</span>
                                    <input id="resumeImage" name="resumeImage" type="file" hidden>
                                </label>
                            </div>
                            <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@(Model.PersonalInfo != null ? Model.PersonalInfo.ResumeImage : "test")</span>
                                <div class="mt-1 d-flex justify-items-center align-items-center">
                                    <i class="bx bx-info-circle text-danger font-weight-light mr-1 border border-danger rounded uploaded-file"></i>
                                    <small class="text-danger">در اسلایدر اصلی قرار میگیرد</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <h6>تصویر آواتار</h6>
                    <div class="media">
                        <a href="#">
                            @if (Model.PersonalInfo != null)
                            {
                                <img src="@(PathExtension.UploadPath + Model.PersonalInfo.AvatarImage)" class="rounded mr-75" alt="profile image" height="64" width="64">
                            }
                        </a>
                        <div class="media-body mt-25">
                            <div class="col-xl-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                <label for="avatarImage" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                    <span>بارگذاری تصویر</span>
                                    <input id="avatarImage" name="avatarImage" type="file" hidden>
                                </label>
                            </div>
                            <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@(Model.PersonalInfo != null ? Model.PersonalInfo.AvatarImage : "test")</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-body mt-25">
                            <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                <label for="resumeFile" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                    <span>بارگذاری فایل</span>
                                    <input id="resumeFile" name="resumeFile" type="file" hidden>
                                </label>
                            </div>
                            <div class="text-muted ml-1 mt-50 d-flex flex-column">
                                <small>فرمت های PNG, JPG, ICO قابل قبول میباشد.</small>
                                <span class="mt-2 d-flex justify-items-center align-items-center"><i class="bx bx-image border border-primary rounded text-primary mr-1 uploaded-file"></i>@(Model.PersonalInfo != null ? Model.PersonalInfo.ResumeFile : "test")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header">اطلاعات شخصی</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.FullName"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.FullName">
                            <span asp-validation-for="PersonalInfo.FullName"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.PhoneNumber"></label>
                            <input type="tel" class="form-control" asp-for="PersonalInfo.PhoneNumber">
                            <span asp-validation-for="PersonalInfo.PhoneNumber"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Mobile"></label>
                            <input type="tel" class="form-control" asp-for="PersonalInfo.Mobile">
                            <span asp-validation-for="PersonalInfo.Mobile"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Email"></label>
                            <input type="email" class="form-control" asp-for="PersonalInfo.Email">
                            <span asp-validation-for="PersonalInfo.Email"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Birthday"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.Birthday">
                            <span asp-validation-for="PersonalInfo.Birthday"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Age"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.Age">
                            <span asp-validation-for="PersonalInfo.Age"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Language"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.Language">
                            <span asp-validation-for="PersonalInfo.Language"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Nationality"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.Nationality">
                            <span asp-validation-for="PersonalInfo.Nationality"></span>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <div class="form-group">
                        <div class="controls">
                            <label asp-for="PersonalInfo.Address"></label>
                            <input type="text" class="form-control" asp-for="PersonalInfo.Address">
                            <span asp-validation-for="PersonalInfo.Address"></span>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="PersonalInfo.AboutMe"></label>
                        <textarea class="form-control" asp-for="PersonalInfo.AboutMe" rows="5"></textarea>
                        <span asp-validation-for="PersonalInfo.AboutMe"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header">سئو سایت</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">ذخیره تغییرات</button>
    <button type="reset" class="btn btn-light mb-1">لغو</button>
</div>
</div>
</div>
</form>
</section>