@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
    <head>
        @await Component.InvokeAsync("AdminHeader")
        <title>@ViewData["Title"]</title>
        @await RenderSectionAsync("Styles", required: false)
    </head>

    <body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">
        @await Component.InvokeAsync("AdminMenuBar")
        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                    <div class="content-header-left col-12 mb-2 mt-1">
                        <div class="breadcrumbs-top">
                            <h5 class="content-header-title float-left pr-1 mb-0">@ViewData["Title"]</h5>
                        </div>
                    </div>
                </div>
                <div class="content-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    @await Component.InvokeAsync("AdminFooter")
        @await RenderSectionAsync("Scripts", required: false)

    <script>
            //$("#@controller").addClass("open");//select main menu of navbar
        $("#@controller-@action").addClass("active");//select menu of selected navbar
        //if ("@controller" === "serviceconter" || "@controller" === "myservice") {
        //    $("#service").addClass("open");//select main menu of navbar
        //}
    </script>

    </body>
</html>